@font-face {
  font-family: myFont;
  src:url(ASThermalRegular.otf)
}

@font-face {
  font-family: myFont2;
  src:url(ASThermalXXWideRegular.otf)
}

h1{
  color: red
}
p, ul, #section2, pre {
  color: rgb(27, 166, 27);

}

body {
  margin: 0;
  margin-top: 0;
  background-color: rgb(0, 0, 0);
display: flex;
justify-content: center;


}

h1, p, #section2, #nav{
  font-family: myFont;

}
/* .block2{
  background-color: blue;
width: 200px;
  height: 250px;
  display: table-cell;
} */

ul {
  list-style: none;
  font-family: myFont2;
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

h1 {
  display: flex;
  justify-content: center;

}
pre {
  display:flex;
  justify-content: center;
  font-size: small;

}


p {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* z-index: 1; */
  align-items: space-between;


}
#nav {
  color: rgb(108, 151, 56);
  background-color: rgb(255, 255, 255);
  margin-top: -22px;
  display:flex;
  position: fixed;
  flex-direction: column;
  align-items: flex-start;
  width: 220px;
  height: 1500px;
  left: 0px;
  /* z-index: -1; */
}
h2{
  font-size: xx-large;
}




