@font-face {
  font-family: myFont;
  src:url(ASThermalRegular.otf)
}

@font-face {
  font-family: myFont2;
  src:url(ASThermalXXWideRegular.otf)
}
@font-face {
  font-family: myFont3;
  src:url(ASThermalXXXWideItalic.otf)
}

@font-face {
  font-family: sleekFont;
  src:url(TT-Norms-Pro-Normal.otf)
}

@font-face {
  font-family: sleekFont2;
  src:url(TT-Norms-Pro-Thin.otf)
}

@font-face {
  font-family: sleekFont3;
  src:url(TT-Norms-Pro-Black.otf)
}

@font-face {
  font-family: sleekFont4;
  src:url(TT-Norms-Pro-Bold.otf)
}



p, ul, #section2, pre{
  color: rgb(27, 166, 27);

}


body {
  background-color: rgb(0, 0, 0);
/* max-width: 800px; */
margin: auto;
/* max-width: 800px; */
flex-direction: column;
display:flex;

}
/* new title */


h1, p, #section2, #nav{
  font-family: myFont;

}

/* the poem */
ul {
  list-style: none;
  font-family: myFont2;
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}
/* shakespeares sonnet 18 */
h1 {
display: flex;
justify-content: center;
align-items: bottom;
margin-top: -50px;
color: red

}
/* ascii art */
pre {
  display:flex;
  justify-content: center;
  font-size: small;

}


p {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* z-index: 1; */
}






  /* #nav {
    color: rgb(108, 151, 56);
    background-color: rgb(255, 255, 255);
    margin-top: -50px;
    display:flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
    height: 1500px;
    left: 0px;
    /* z-index: -1; */


h2{
  font-size: xx-large;
}


#topBlock{
  width: 100%;
  height: 100px;
  display: flex;
  background-color: rgb(0, 0, 255);
  /* flex-direction: row; */
  position: fixed;
  max-width: inherit;
  padding: 1rem;
  z-index: 0;
}

#nav > ul {
  position: relative;
  top: 300px;
  margin-top: 100px;
  left: 60px;
  text-align: center;
  flex-direction: column;
}

h2 {
  position: absolute;
  flex-direction: row;
  right: 50px;
  padding: 2px;
  margin-right: -50px;
  /* align-items: flex-start; */
}
#shake {
  font-family: myFont3;
  color: rgb(215, 17, 17);
  font-size: xxx-large;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}
#block2 {
  background-color: rgb(255, 255, 255);
  width: 250px;
   height: 1250px;
  float: right;
position: fixed;
  margin: auto;
}

#projectsLink:hover {
  color: #e5e5e5;
  box-shadow: inset 100px 0 0 0 green;
  }

  #projectsLink {
    color: #000000;
    text-decoration: none;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .4s ease-in-out, box-shadow .5s ease-in-out;
    box-shadow: inset 0 0 0 0 #000000;
  }

  .buttons {
    /* position: absolute; */
    font-size: x-large;
    display: absolute;
    flex-direction: column;
    top: px;
    right: px;
    align-items: center;
    justify-content: center;
    padding: px;
    font-family: sleekFont2;
    list-style: none;
    color: #000000;
    }

    #buttonsAndLinks {
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 50px;
      }

      .arrows {
        font-family: myFont3;
        font-size: 25px;
        line-height: 7px;
        display: block;
        padding-right: 10px;
        flex-direction: column;
        color: black;
      }

      @media (min-width: 1536px) {
        .container {
          max-width: 1280px;
        }
        .shakespearePage5k #buttonsAndLinks {
          margin-top: 300px;
          margin-right: 30px;
        }
      }
      /* phone screen */
      @media (max-width: 475px) {
        .container {
          width: 100%;
        }
        h1 {
          display: flex;
          justify-content: center;
          align-items: bottom;
          margin-top: -70px;
          font-size: 25px;
        }
        p {
          display: flex;
          justify-content: center;
          margin-left: 15px;
          /* flex-wrap: wrap; */
          /* z-index: 1; */
        }
        ul {
          padding-top: 15px;
          margin-right: 15px;
        }
      }